In [1]:
# Read in dataset
import pandas as pd
apps_with_duplicates = pd.read_csv('E:\\github\DataScience-Projects\The Android App Market on Google Play\datasets\\apps.csv')

# Drop duplicates
apps = apps_with_duplicates.drop_duplicates(subset=['App'])

# Print the total number of apps
print('Total number of apps in the dataset = ',len(apps.App))

# Print a concise summary of apps dataframe
print(apps.info())

# Have a look at a random sample of n rows
n = 5
apps.sample(n)

Total number of apps in the dataset =  9659
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 0 to 9658
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9659 non-null   int64
 1   App             9659 non-null   object
 2   Category        9659 non-null   object
 3   Rating          8196 non-null   float64
 4   Reviews         9659 non-null   int64
 5   Size            8432 non-null   float64
 6   Installs        9659 non-null   object
 7   Type            9659 non-null   object
 8   Price           9659 non-null   object
 9   Content Rating  9659 non-null   object
 10  Genres          9659 non-null   object
 11  Last Updated    9659 non-null   object
 12  Current Ver     9651 non-null   object
 13  Android Ver     9657 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.1+ MB
None

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7950,9069,Dy So Exam,FAMILY,3.0,6,3.2,"1,000+",Free,0,Everyone,Education,"July 3, 2017",1,2.3 and up
671,818,TeachersPayTeachers,EDUCATION,3.8,828,NaN,"100,000+",Free,0,Everyone,Education,"October 1, 2017",Varies with device,Varies with device
6312,7359,Automagic * Automation,TOOLS,4.7,1947,NaN,"10,000+",Paid,$3.90,Everyone,Tools,"May 19, 2018",Varies with device,Varies with device
1440,1780,Looper!,GAME,4.6,48256,62.0,"1,000,000+",Free,0,Everyone,Puzzle,"July 20, 2018",1.2.0,4.1 and up
2173,2771,ASOS,SHOPPING,4.7,181798,22.0,"10,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",4.4.9,4.4 and up

In [2]:
# List of characters to remove
chars_to_remove = [',' ,'$' ,'+']
# List of column names to clean
cols_to_clean = ["Installs","Price"]

# Loop for each column
for col in cols_to_clean:
    # Replace each character with an empty string
    for char in chars_to_remove:
        apps[col] = apps[col].astype(str).str.replace(char, '')
    # Convert col to numeric
    apps[col] = pd.to_numeric(apps[col])